
.shi{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.a{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2%;
    background-color: rgb(22, 25, 27);
    font-size: 22px;
    color: aliceblue;
}
.b{
    width:  100%;
    height: 1500px;
    background-image: url('./35.jpg');
}
.c{
    margin-left: 19%;
    width: 60%;
    height: 1500px;
    background-color:white;
}
.aa{
    text-align: center;
    width:100%;
    background-color: rgb(37, 35, 35);
}
.aa1{
    float: left;
    background-color: rgb(112, 112, 224);
}
.aa2{
    float: left;
    background-color: rgb(112, 112, 224);
}
.aa3{
    float: left;
    background-color: rgb(112, 112, 224);
}
.bb{
    width: 100%;
    height: 140px;
    background-color: rgb(160, 167, 161);
}
.bb1{
    height: 140px;
    width: 10%;
    padding-left: 1%;
    float: left;
}
.bb2{
    height: 140px;
    float: left;
    width:90% ;
}
.bb21{
   width: 100%;
   font-size: 23px;
   padding-left: 3%;
}
 .cc{
    width: 100%;
   
} 
.cc1{
    float: left;
    padding-left: 5%;
    font-size: 23px;
    margin-left: 1%;
    height: 320px;
    width: 180px;
    background-color: rgb(247, 230, 230);
}
.cc11{
    padding-left: 15%;
    font-size: 16px;
}
.cc2{
    float: left;
    height: 320px;
    width: 820px;
    margin-left: 1%;
}
.cc21{
    width: 820px;
   height: 155px;
} 
.cc211{
    width: 33.3%;
   height: 100%;
   float: left;
} 
.cc22{
    margin-top: 10px;
    width: 820px;
   height: 155px;
} 

.ee{
    width: 100%;
   
} 
.ee1{
    float: left;
    padding-left: 5%;
    font-size: 23px;
    margin-left: 1%;
    height: 320px;
    width: 180px;
    background-color: rgb(247, 230, 230);
}
.ee11{
    padding-left: 15%;
    font-size: 16px;
}
.ee2{
    float: left;
    height: 320px;
    width: 820px;
    margin-left: 1%;
}
.ee21{
    width: 820px;
   height: 155px;
} 
.ee211{
    width: 33.3%;
   height: 100%;
   float: left;
} 
.ee22{
    margin-top: 10px;
    width: 820px;
   height: 155px;
} 
.hh{
    width: 100%;
    height: 300px;
}