
.gong{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.a{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2%;
    background-color: rgb(46, 48, 47);
    font-size: 22px;
}
.b{
    width:  100%;
    height: 3100px;
    background-image: url('./10.jpg');
}
.c{
    margin-left: 19%;
    width: 60%;
    height: 3100px;
    background-color:white;
}
.aa{
    text-align: center;
    width:100%;
    font-size: 22px;
    background-color: rgb(0, 189, 79);
}
.aa1{
    float: left;
    background-color: rgb(112, 112, 224);
}
.aa2{
    float: left;
    background-color: rgb(112, 112, 224);
}
.aa3{
    float: left;
    background-color: rgb(112, 112, 224);
}
 .bb{
     width: 100%;
     height: 140px;
 }
 .bb1{
     height: 140px;
     width: 10%;
     padding-left: 1%;
     float: left;
 }
 .bb2{
     height: 140px;
     float: left;
     padding-left: 3%;
     width:90% ;
}
.bb21{
    width: 100%;
    font-size: 23px;
}
.cc{
    padding-left: 2%;
    width: 100%;
    height: 50px;
}
.cc1{
    float: left;
    padding-left: 2%;
    width: 1.5%;
    height: 50px;
    background-color: rgb(87, 230, 87);
}
.cc2{
    float: left;
    padding-left: 2%;
    padding-top: 1%;
    font-size: 20px;
    height: 50px;
}
.dd{
    margin-top: 2%;
    width: 100%;
}
.dd1{
    padding-left: 2%;
    float: left;
    width: 25%;
    height: 150px;
}
.dd11{
    height: 120px;
    width: 100%;
}
.dd12{
    width: 100%;
    height: 30px;
    font-size: 16px;
}
.ee{
    width: 100%;
    padding-left: 2%
}
.ff{
    width: 100%;
}
.ff1{
    text-align: center;
    font-size: 17px;
    width: 100%;
}
.ff2{
    text-align: center;
    font-size: 16px;
    width: 100%;
}
.hh{
    width: 100%;
    padding-left: 2%;
    font-size: 16px;
}
.hh2{
    width: 100%;
    padding-left: 4%;
    font-size: 16px;
}