.all{
    background:url(./06.jpg);
    background-size: 100%;
    margin: 0 auto;
    height: 950px;
    width: 100%;
    
}

.loginpage{
    height: 700px;
    width: 600px;
    margin: auto;
    border: 1px solid;
    border-radius: 2px; 
    position: relative;
    top: 150px;
}

.loginhead{
    height: 3.5em;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color:black;
}

.logincon{
    background: url(./04.JPG) no-repeat;
    margin: 0 auto;
    background-size: 100%;
    height: 600px;
    width: 100%;
}

.loginput{
    margin: 0 auto;
    height:300px;
    width: 8em;
    position: relative;
    top:100px;
    right: 80px; 
}

.account{
    padding-left: 20px;
    width: 250px;
	height: 40px;
    background: none;
	border: 1px solid white;
    border-radius: 5px;
    color:white;
}

.account::-webkit-input-placeholder{
    color: white;
}

.password{
    padding-left: 20px;
    width: 250px;
	height: 40px;
    background: none;
	border: 1px solid white;
    border-radius: 5px;
    position: relative;
    top: 40px;
    color:white;
}

.password::-webkit-input-placeholder{
    color:white;
}

.loginbutton{
    margin: 0 auto;
    height:300px;
    width: 12em;
    padding-left: 20px;
    position: relative;
    right: 80px;
}

.log{
    width: 250px;
}

.sign{
    width: 250px;
    position: relative;
    top: 30px;

}