
.shi{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.a{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2%;
    background-color: rgb(22, 25, 27);
    font-size: 22px;
    color: aliceblue;
}
.b{
    width:  100%;
    height: 1600px;
    background-image: url('./36.jpg');
}
.c{
    margin-left: 19%;
    width: 60%;
    height: 1600px;
    background-color:white;
}
.aa{
    text-align: center;
    width:100%;
    background-color:rgb(22, 21, 21);
}
.aa1{
    float: left;
    background-color: rgb(112, 112, 224);
}
.aa2{
    float: left;
    background-color: rgb(112, 112, 224);
}
.aa3{
    float: left;
    background-color: rgb(112, 112, 224);
}
.bb{
    text-align: center;
    width: 100%;
    font-size: 18px;
 }
 .cc{
    width: 95%;
    /* font-size: 18px; */
padding-left: 100px;
} 
.dd{
    margin-left: 100px;
    font-size: 20px;
    width:100px;
    height: 50px;
}
.dd1{
    border: solid 1px;
    border-color: rgb(139, 134, 134);
    border-radius: 10px 10px 10px 10px;
    
}