.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(49, 49, 49);
    
}
.font1{
    color: aliceblue;
    margin-left: 10%;
    padding-top: 5%;
}
.font2{
    color: aliceblue;
    margin-left: 25%;
    padding-top: 2%;
}