.header{
    width: 100%;
    height: 2em;
    background-color:#30333d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position:absolute;
}
.font1{
    font-weight: 800;
     color: rgb(212, 202, 202);
     text-decoration-line:none; 
     
 }
 .font1:link{ 
     
    text-decoration-line: none;
} 

.font1:visited{ 
    color: rgb(255, 255, 255); 
    
    
} 
.font1:hover{ 
     
    color: rgba(255, 255, 255, 0.76) ;
    font-size: 13px;
   
} 
 .div{
    width: 1200px;
}
