
.gonga{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.a{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2%;
    background-color: rgb(71, 128, 179);
}
.b{
    width:  100%;
    background-color:#e6f7ff;
}
.c{
    margin-left: 15%;
    width: 70%;
    background-color:#c0ec0d;
}
.aa{
    padding-top:2%; 
    text-align: center;
    width:100%;
    font-size: 22px;
}
.aa1{
    text-align: center;
    width: 33.3%;
    float: left;
}
.aa2{
    text-align: center;
    width: 33.3%;
    float: left;
}
.aa3{
    text-align: center;
    width: 33.3%;
    float: left;
}
.bb{
    padding-top:10%;
     text-align: center;
     width: 100%;
 }
 .cc{
    padding-top:5%;
     text-align: center;
     width: 100%;
 }
 